<div class="container mt-3">
  <div class="container mt-3">
    <a routerLink="/" class="btn btn-outline-secondary mb-3">Volver al inicio</a>
  </div>
  <app-workout-list></app-workout-list>
  <div class="d-flex justify-content-end me-3 mb-3 mt-3">
    <!-- <a routerLink="/workouts/new" class="btn btn-success">Nuevo entrenamiento</a> -->
    <button class="btn btn-primary"
      (click)="crearNuevoEntrenamiento()"    
      [disabled]="clientes.length === 0">Nuevo entrenamiento</button>
  </div>
</div>