<div class="container mt-5">
  <h1>Acerca de Nosotros</h1>
  <div class="card shadow-sm mt-4 col-md-10 mx-auto">
    <div class="card-body">
      <p class="card-text mb-4 mx-auto w-75 lead fw-bold text-center">
        Fit Admin App es una aplicación web diseñada para facilitar la gestión integral de clientes y entrenamientos personalizados dentro de un emprendimiento fitness.
      </p>
      <p class="card-text mb-4 w-75">
        Creada con el objetivo de optimizar la organización, seguimiento y planificación de rutinas, esta aplicación permite a los entrenadores llevar un control detallado de sus clientes, registrar sus progresos y ofrecer un servicio más personalizado.
      </p>
      <h3 class="card-title">¿Qué podes hacer con esta app?</h3>
      <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item">
          <strong>Gestión de Clientes:</strong> Añadir, editar y eliminar clientes, así como registrar sus datos personales y objetivos.
        </li>
        <li class="list-group-item">
          <strong>Planificación de Entrenamientos:</strong> Crear y asignar rutinas de entrenamiento personalizadas a cada cliente, adaptadas a sus necesidades y objetivos específicos.
        </li>
        <li class="list-group-item">
          <strong>Buscar y seleccionar ejercicios reales:</strong> Acceder a una amplia base de datos de ejercicios reales, permitiendo a los entrenadores seleccionar los más adecuados para cada rutina.
        </li>
        <li class="list-group-item">
          <strong>Asignar repeticiones y series:</strong> Definir el número de repeticiones y series para cada ejercicio, asegurando un seguimiento preciso del progreso del cliente.
        </li>
      </ul>
    </div>
    <div class="card-footer text-center text-muted mb-3">
      <h4 class="card-title">¿Para quién está pensada?</h4>
      <p class="card-text">
        Esta aplicación está pensada para entrenadores personales y profesionales del fitness que buscan una herramienta eficiente para gestionar sus clientes y entrenamientos de manera efectiva.
      </p>
  </div>
</div>