.home-banner {
    max-height: 300px;
    object-fit: cover;
    object-position: top;
    opacity: .8;
}

.client-card {
    color: var(--white-violet);
    background-color: var(--mid-violet);
}

.workout-card {
    background-color: var(--white-violet);
}