<div class="container mt-5 text-center">
  <h1 class="mb-3">🏋️‍♂️ Bienvenido a FitAdmin App</h1>
  <p class="lead">Gestioná tus clientes y armá entrenamientos personalizados usando ejercicios reales.</p>
  
  <div class="d-flex justify-content-center gap-3 mt-4">
    <a routerLink="/clientes" class="btn btn-md btn-primary btn-lg">Ver Clientes</a>
    <a routerLink="/workouts" class="btn btn-md btn-success btn-lg">Ver Entrenamientos</a>
  </div>
  
  <img src="../../../assets/images/home-banner.webp" alt="Entrenamiento" class="img-fluid mt-4 w-75 rounded home-banner" />

  <div class="row justify-content-center mt-5 gap-3">
    <div class="col-md-4">
      <div class="card shadow-sm client-card">
        <div class="card-body">
          <h4 class="card-title">Clientes totales</h4>
          <p class="display-6 fw-bold">{{ totalClientes }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm workout-card">
        <div class="card-body">
          <h4 class="card-title">Entrenamientos</h4>
          <p class="display-6 fw-bold">{{ totalWorkouts }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
